<<<<<<< HEAD

  html {
=======
html {
>>>>>>> 17ceff73813de9a0a7cc6400f5ac7377d3be54f9
    box-sizing: border-box;
    font-size: 10px;
    background: #ffc600;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', 'cursive';
  }
  
<<<<<<< HEAD
  #game {
    box-sizing: border-box;
    font-size: 10px;
    background: #ffc600;
  }
  .game {
    box-sizing: border-box;
    font-size: 10px;
    background: #ffc600;
  }
  
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', 'cursive';
  }
  
=======
>>>>>>> 17ceff73813de9a0a7cc6400f5ac7377d3be54f9
  h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    position: relative;
    left: 30px;
  }
  
  .score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
  }

  #timer{
    background: rgba(255,255,255,0.2);
    width: 80px;
    height: 40px;
    font-family: 'Amatic SC', 'cursive';
    font-size: 35px;
    text-align: center;
    z-index: 3;
    position: relative;
    float: left;
    left: 637px;
    top: -33px;
  }
  
  .game {
    width: 600px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    top: 50px;
  }
  
  .hole {
    flex: 1 0 33.33%;
    
    position: relative;
    top: 50px;
    right: 120px;
  }
  
  .hole:after {
    display: block;
<<<<<<< HEAD
    background: url(assets/images/pill\ bottle.png) bottom center no-repeat;
=======
    background: url(pill\ bottle.jpg) bottom center no-repeat;
>>>>>>> 17ceff73813de9a0a7cc6400f5ac7377d3be54f9
    background-size: contain;
    content: '';
    width: 100%;
    height:200px;
    position: relative;

    z-index: 2;
    margin: 30px 30px 30px 30px;
    
  }
  #bottomrow{
    z-index: 4;
  }
  
  .mole {
<<<<<<< HEAD
    background: url('assets/images/crazy.png') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 80%;
    width: 80%;
=======
    background: url('crazy.jpg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
>>>>>>> 17ceff73813de9a0a7cc6400f5ac7377d3be54f9
    height: 100%;
    transition:all 0.4s;
    z-index: 1;
    margin: auto;
<<<<<<< HEAD
    left: 50px;
    bottom: 415px;
=======
    left: 30px;
    bottom: 475px;
>>>>>>> 17ceff73813de9a0a7cc6400f5ac7377d3be54f9
  }
  
  .hole.up .mole {
    top: 0;
  }

  #startbutton{
    font-family: 'Amatic SC', 'cursive';
    position: relative;
    left: 525px;
    z-index: 5;
    width: 80px;
    height: 40px;
    font-size: 30px;
    float: left;
  }

  #resetbutton{
    font-family: 'Amatic SC', 'cursive';
    position: relative;
    left: 750px;
    z-index: 5;
    width: 80px;
    height: 40px;
    font-size: 30px;
    float: left;
<<<<<<< HEAD
  }
  
  #center {
    margin:auto;
}
#form-buscar {
    margin: auto;
}
a {
    text-align: center;
}
  .navbar-top-gradient {
      display: block;
      position: relative;
      z-index: 99;
      margin-bottom: -7px;
      height: 7px;
      width: 100%;
      background: linear-gradient(to right, #d44727 10%, #77bc1f 50%, #6e335e 90%);
  }
  #navbar-container {
      position: relative;
      width: 100%;
      max-width: 1280px;
      margin: 0px, auto, 0px, 0px;
   
  }
  
  .navbar {
      border-bottom: 1px solid lightgray;
  }
  
  #nav-links {
      
      margin-left: 9%;
      font-size: 1.4em;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  #on-left {
    margin-left: 4%;
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  .carousel-item {
    opacity: 0;
    transition-duration: 1.6s!important;
    transition-property: opacity;
}

.three-links {
    margin: auto;
}
.link-1 {
    display: inline;
    padding: 3%;
}
.link-2 {
    display: inline;
    padding: 3%;

}
.link-3 {
    display: inline;
    padding: 3%;
}
#jumbotron {
    background-color: white;
    text-align: center;
    margin: auto;
}

.link-1:hover {
    /* on hover - scale to this x,y size */
    transform: scale(1.15,1.15);
    /* property values: name, duration, iteration, timing-function */
  animation: jiggle 0.5s infinite linear;
}
p {
    background-color: white;
}

#container {
    width: 800px;
    margin-inline-start: 25%;
    margin-top: 75px;
    margin-bottom: 0px;
}
p{
  text-justify: auto;
  font: gray;
  font-size: 23px;
  text-indent: 50px;
  font-family: 'Crimson Text', serif;
}
#jumbotron-statement {
    text-align: center;
    margin: auto;

}
#jumbotron {
    background-color: white;
    text-align: center;
    margin: auto;
}
footer {
    border-top: 1px solid gray;
}
.row-2-image {
    float: left;
}
#container {
    color: var(--blue);
=======
>>>>>>> 17ceff73813de9a0a7cc6400f5ac7377d3be54f9
  }