
  #center {
    margin:auto;
}
#form-buscar {
    margin: auto;
}
a {
    text-align: center;
}
  .navbar-top-gradient {
      display: block;
      position: relative;
      z-index: 99;
      margin-bottom: -7px;
      height: 7px;
      width: 100%;
      background: linear-gradient(to right, #d44727 10%, #77bc1f 50%, #6e335e 90%);
  }
  #navbar-container {
      position: relative;
      width: 100%;
      max-width: 1280px;
      margin: 0px, auto, 0px, 0px;
   
  }
  
  .navbar {
      border-bottom: 1px solid lightgray;
  }
  
  #nav-links {
      
      margin-left: 9%;
      font-size: 1.4em;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  #on-left {
    margin-left: 4%;
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  .carousel-item {
    opacity: 0;
    transition-duration: 1.6s!important;
    transition-property: opacity;
}

.three-links {
    margin: auto;
}
.link-1 {
    display: inline;
    padding: 3%;
}
.link-2 {
    display: inline;
    padding: 3%;

}
.link-3 {
    display: inline;
    padding: 3%;
}
#jumbotron {
    background-color: white;
    text-align: center;
    margin: auto;
}

.link-1:hover {
    /* on hover - scale to this x,y size */
    transform: scale(1.15,1.15);
    /* property values: name, duration, iteration, timing-function */
  animation: jiggle 0.5s infinite linear;
}


#container {
    width: 800px;
    font: lightgray;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}

header {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    font: lightgray;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Crimson Text', serif;

}
p{
  text-justify: auto;
  font: lightgray;
  font-size: 20px;
  text-indent: 50px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Crimson Text', serif;
}

.things-you-can-do-for-yourself {
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    list-style-position: inside;

}

#jumbotron-statement {
    text-align: center;
    margin: auto;

}
#jumbotron {
    background-color: white;
    text-align: center;
    margin: auto;
}
footer {
    border-top: 1px solid gray;
}
.row-2-image {
    float: left;
}
#container {
    color: var(--blue);
  }

  a:hover {
    color: rgba(0, 128, 0, 0.61);
    text-decoration: underline;
}


