/* * {
    -webkit-border-radius: 1px !important;
       -moz-border-radius: 1px !important;
            border-radius: 1px !important;
  } */
  /* #logo {
  color: #666;
  width:100%;   
  } */
  /* #logo h1 {
      font-size: 60px;
      text-shadow: 1px 2px 3px #999;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      letter-spacing: -1px;
  } */
  /* #logo p{
    padding-bottom: 20px;
  } */
  
  /* .form {
      text-align: center;
  } */
  #center {
    margin:auto;
}
#form-buscar {
    margin: auto;
}
/* #i {
    width:50%;
} */
  
  /* #form-buscar >.form-group >.input-group > .form-control {
      height: 40px;
  } */
  /* #form-buscar >.form-group >.input-group > .input-group-btn > .btn{
          height: 40px; 
          font-size: 16px;
          font-weight: 300;       
  } */
  /* #form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
   margin-right:12px;   
  }    
   */
  
  /* #form-buscar >.form-group >.input-group > .form-control {
      font-size: 16px;
      font-weight: 300;
     
  }
   */
  /* #form-buscar >.form-group >.input-group > .form-control:focus {
    border-color: #33A444;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
  } */
  .navbar-top-gradient {
      display: block;
      position: relative;
      z-index: 99;
      margin-bottom: -7px;
      height: 7px;
      width: 100%;
      background: linear-gradient(to right, #d44727 10%, #77bc1f 50%, #6e335e 90%);
  }
  #navbar-container {
      position: relative;
      width: 100%;
      max-width: 1280px;
      margin: 0px, auto, 0px, 0px;
      /* padding: -30%; */
  }
  
  .navbar {
      border-bottom: 1px solid lightgray;
  }
  
  #nav-links {
      margin-left: 4%;
      font-size: 1.4em;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  #on-left {
    margin-left: 4%;
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  .carousel-item {
    opacity: 0;
    transition-duration: 1.6s!important;
    transition-property: opacity;
}
  
 