
  #center {
    margin:auto;
}
#form-buscar {
    margin: auto;
}
a {
    text-align: center;
}
  .navbar-top-gradient {
      display: block;
      position: relative;
      z-index: 99;
      margin-bottom: -7px;
      height: 7px;
      width: 100%;
      background: linear-gradient(to right, #d44727 10%, #77bc1f 50%, #6e335e 90%);
  }
  #navbar-container {
      position: relative;
      width: 100%;
      max-width: 1280px;
      margin: 0px, auto, 0px, 0px;
   
  }
  
  .navbar {
      border-bottom: 1px solid lightgray;
  }
  
  #nav-links {
      
      margin-left: 9%;
      font-size: 1.4em;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  #on-left {
    margin-left: 4%;
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
      margin-top:4%;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(gray), to(rgba(255, 255, 255, 1))) 1 10%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;
    -moz-border-image:
      -moz-linear-gradient(bottom, gray, rgba(255, 255, 255, 1)) 1 10%;  
    -o-border-image:
      -o-linear-gradient(bottom, gray, rgb(255, 255, 255)) 1 10%;
    border-image:
      linear-gradient(to top, lightgray, rgb(255, 255, 255)) 1 10%;
  }
  /* .carousel-item {
    opacity: 0;
    transition-duration: 1.6s!important;
    transition-property: opacity;
} */

.three-links {
    margin: auto;
}
.link-1 {
    display: inline;
    padding: 3%;
}
.link-2 {
    display: inline;
    padding: 3%;

}
.link-3 {
    display: inline;
    padding: 3%;
}
#jumbotron {
    background-color: white;
    text-align: center;
    margin: auto;
}

.link-1:hover {
    /* on hover - scale to this x,y size */
    transform: scale(1.15,1.15);
    /* property values: name, duration, iteration, timing-function */
  animation: jiggle 0.5s infinite linear;
}
p {
    background-color: white;
}

#container {
    width: 800px;
    margin-inline-start: 25%;
    margin-top: 75px;
    margin-bottom: 0px;
}
p{
  text-justify: auto;
  font: gray;
  font-size: 23px;
  text-indent: 50px;
  font-family: 'Crimson Text', serif;
}
#jumbotron-statement {
    text-align: center;
    margin: auto;

}
#jumbotron {
    background-color: white;
    text-align: center;
    margin: auto;
}
footer {
    border-top: 1px solid gray;
}
.row-2-image {
    float: left;
}
#container {
    color: var(--blue);
  }
  .drug{
      font-size: 20px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
  }
  #section-2 {
      float: left;
  }
  #row-3-image {
      float: left;
  }
  h1 {
    text-justify: auto;
    text-align: center;
  }
  body { padding-top: 20px; }
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
#homeo {
    text-shadow:2px 2px #ff0000;
}

h5 {
    color:red;
    text-align: center;
}
#definitionResults {
    font-size: 18px;
}

